/*Main Font*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fragment+Mono&family=Montserrat:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
    scroll-behavior: smooth;
    --color-bg: #043353;
    --color-1: white;
    --color-bg-gradient-1: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(4, 51, 83, 0.5074404761904762) 42%, rgba(4, 51, 83, 0.7343312324929971) 64%, rgba(4, 51, 83, 1) 100%);
    --color-bg-gradient-2: linear-gradient(0deg, rgba(4, 51, 83, 1) 0%, rgba(4, 51, 83, 0.7343312324929971) 32%, rgba(4, 51, 83, 0.5074404761904762) 86%, rgba(255, 255, 255, 0) 100%);
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    color: var(--color-1);
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable {
    user-select: none;
    pointer-events: none;
}

.disableSelection {
    user-select: none;
}

body {
    background-image: url("../img/img-bk.webp");
    background-position: top;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

section {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--color-bg);
}

section.start {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr) 0.1fr;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 100vh;
    max-height: 100vh;
}

section.start .info {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    background: rgb(255, 255, 255);
    background: var(--color-bg-gradient-1);
}

/* section.start .info .logo {
    
} */

section.start .info .social-nets {
    position: absolute;
    height: 70px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
    transition: .3s all;
}

section.start .info .social-nets.scroll {
    position: fixed;
    z-index: 2;
    animation: forUp .8s ease-in-out;
}

@keyframes forUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

section.start .info .social-nets i {
    color: rgba(255, 255, 255, 0.5);
    transition: .5s all;
}

section.start .info .social-nets i:hover {
    cursor: pointer;
    color: var(--color-1);
}

/* section.start .info .social-nets i::after:hover {

} */
section.start .principal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    grid-column: 1/-1;
    grid-row: 2/9;

}

section.start .principal .principal-name {
    display: flex;
    flex-direction: column;
}

section.start .principal .principal-name .name {
    font-size: 6em;
    border-bottom: 10px solid wheat;
}

section.start .principal .principal-name .name-footer {
    font-size: 2em;
}

section.start .principal div .name-footer #language {
    font-size: 1em;
    position: absolute;
    padding: 0 .5em;
    font-weight: 500;
}

#language {
    /*position: absolute;*/
    animation: changeLanguaguesVanish 3s infinite;

}

@keyframes changeLanguaguesVanish {
    0% {
        color: transparent;
    }

    20% {
        color: rgb(255, 255, 255);
    }

    90% {
        color: transparent;
    }

    100% {
        color: transparent;
    }
}

section.start .principal .principal-anything {
    position: relative;
    width: 30%;
    font-size: 3em;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}

section.start .principal .principal-anything span {
    display: block;
    padding: 1em;
    backdrop-filter: blur(10px);
    display: block;
    font-family: 'Fragment Mono', monospace;
    text-decoration: none;
}

section.start nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
    grid-row: 9/-1;
    background: rgb(4, 51, 83);
    background: var(--color-bg-gradient-2);
    overflow: hidden;
    transition: .3s all ease;
}

section.start nav.scroll {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--color-bg-gradient-1);
    padding: 1em 0;
    width: 100vw;
}

section.start nav.scroll.full {
    background-color: var(--color-bg-gradient-3);
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}

section.start nav .div-links {
    all: none;
}

section.start nav .div-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 3em;
    padding: 0 1em;
    margin: 0.8em auto;
    font-weight: 500;
    user-select: none;
    text-align: center;
    transition: .3s all;
}

section.start nav .navbar-btn {
    display: none;
    transition: 0.3s all;
}

section.start nav .navbar-btn.active {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
}


section.start nav.scroll.full .navbar-btn.active i {
    transform: rotate(180deg);
}


section.start nav .div-links a.active {
    border: 1px solid var(--color-1);
    background-color: var(--color-1);
    color: var(--color-bg);
}

/* Revisar */
/* section.start nav .div-links a::after {
    bottom: 0.2em;
    left: 10%;
    content: "";
    position: absolute;
    background-color: var(--color-1);
    width: 0%;
    height: .1em;
    transition: .3s all;
} */

section.start nav .div-links a:hover::after {
    width: 80%;
}

section.start nav span.navbar-log {
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 4em;
    transform: translateX(-1100px);
    transition: .5s all ease-in-out;
}

section.start nav span.navbar-log.active {
    transform: translateX(100px);
}

section.whois,
section.experience,
section.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

section.whois .title,
section.experience .title,
section.contact .title {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    flex-basis: content;
    font-size: 4em;
    margin-top: 10vh;
}


section.whois .whois-container,
section.experience .experience-container,
section.contact .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4em;

}


section.whois .whois-container .text {
    width: 50%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-align: center;
}


section.whois .whois-container picture {
    display: flex;
    justify-content: center;
    align-items: center;

}

section.whois .whois-container picture img {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.193);
    /* backdrop-filter: blur(20px); */
    /* background-image: url("https://picsum.photos/600/300"); */
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

section.experience {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);
}

footer .footer-message {
    border-top: 10px solid var(--color-1);
    height: 100%;
    width: 50%;
    font-size: 1.5em;
}

footer .footer-vitae-dowload {
    border-top: 10px solid var(--color-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100%;
    width: 50%;
    align-self: center;
    background-color: var(--color-1);
    cursor: pointer;

}

footer .footer-vitae-dowload p {
    font-weight: 700;
    display: flex;
    color: var(--color-bg);
    font-size: 1.5em;
    transition: 0.3s all;
}

footer .footer-vitae-dowload i {
    color: var(--color-bg);
    transition: 0.3s all;

}

footer .footer-vitae-dowload:hover p {
    display: none;
}

footer .footer-vitae-dowload:hover i {
    transform: scale(200%);
}

#dowload-pdf-link {
    display: none;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    section.start nav.scroll .navbar-log {
        display: none;
        /* display: none; */
    }

    section.start .principal {
        flex-direction: column;

    }

    section.start .principal .principal-anything {
        width: 50%;
        flex-basis: content;
    }

    section.start .principal .principal-anything .principal-anything-phrase {
        width: 100%;
    }


    section .title {
        margin: 10vh auto;
    }

    section.whois .whois-container {
        display: flex;
        flex-direction: column;
        /* flex-wrap: 10px; */
        /* grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr .5fr; */
    }

    section.whois .whois-container .text {
        width: 100%;
    }

    section.whois .whois-container .text p {
        width: 80%;
    }


    section.start nav .div-links a {
        font-size: 2.5em;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    section.start .principal .principal-name .name {
        /* font-size: 3em; */
    }

    section.start .principal .principal-name .name-footer {
        /* font-size: 1em; */
    }

    section.start .principal .principal-anything .principal-anything-phrase {
        /* font-size: .7em; */
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    section.experience .title {
        font-size: 2em;
    }

    section.start nav.scroll {
        height: 10vh;
        flex-direction: column;
        font-size: 10px;
    }

    section.start nav.scroll .navbar-btn.active {
        display: flex;
        min-height: 10vh;
    }

    section.start nav.scroll .navbar-btn {
        position: fixed;
        width: 20vw;
        left: 0;
        top: 0;
        transform: translateY(-10px);
    }

    section.start nav.scroll .navbar-btn i:nth-child(1n) {
        transform: scale(130%);
        display: flex;
    }

    section.start nav.scroll .navbar-btn i:nth-child(2n) {
        display: none;
    }

    section.start nav.scroll .div-links a,
    section.start nav.scroll .navbar-log {
        display: none;
    }

    section.start nav.scroll.full .div-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.start nav.scroll.full .div-links a {
        font-size: 3em;
        display: inline-block;
    }

    section.start nav.scroll.full {
        flex-direction: column-reverse;
    }

    section.start nav.scroll.full .navbar-btn {
        position: relative;
        transform: none;
    }

    section.start nav.scroll.full .navbar-btn i:nth-child(1n) {
        display: none;
    }

    section.start nav.scroll.full .navbar-btn i:nth-child(2n) {
        display: flex;
        transform: scale(150%);
    }

    section.start .info .social-nets.center {
        position: fixed;
        top: 5%;
        right: 0;
        left: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    section.start .info .social-nets.center i {
        transform: scale(150%);
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 11px;
    }

    section.start .principal .principal-name .name {
        /* color: green; */
        /* font-size: 2em;  */
    }

    section.start .principal .principal-name .name-footer {
        /* font-size: 1em; */
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        font-size: 11px;
    }

    section.whois .whois-container picture img {

        width: 50%;
    }

    section.start nav .div-links a:nth-child(1n) {
        display: none;
    }

    /* section.start nav .div-links a:nth-child(1) {
        display: inline-block;
    } */

    section.start .principal .principal-anything {
        width: 100%;
    }

    section.start .principal .principal-name .name {
        font-size: 4em;
    }


}