/*Main Font*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fragment+Mono&family=Montserrat:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

:root {
  scroll-behavior: smooth;
  --navbar-height: 7vh;
  --color-bg: #043353;
  --color-1: white;
  --color-bg-gradient-1: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(4, 51, 83, 0.5074404761904762) 42%,
    rgba(4, 51, 83, 0.7343312324929971) 64%,
    rgba(4, 51, 83, 1) 100%
  );
  --color-bg-gradient-2: linear-gradient(
    0deg,
    rgba(4, 51, 83, 1) 0%,
    rgba(4, 51, 83, 0.7343312324929971) 32%,
    rgba(4, 51, 83, 0.5074404761904762) 86%,
    rgba(255, 255, 255, 0) 100%
  );
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  display: none;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  color: var(--color-1);
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable {
  user-select: none;
  pointer-events: none;
}

.disableSelection {
  user-select: none;
}

body {
  background-image: url("../img/img-bk.webp");
  background-position: top;
  background-size: cover;
  background-origin: border-box;
  -webkit-background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  background-color: var(--color-bg);
  min-height: 100vh;
  min-width: 100vw;
}

section.start {
  min-height: calc(100vh - var(--navbar-height));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr) 0.1fr;
  background-color: rgba(255, 255, 255, 0.2);
}

section.start .info {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  background: rgb(255, 255, 255);
  background: var(--color-bg-gradient-1);
}

section.start .info .social-nets {
  position: absolute;
  height: 70px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  transition: 0.3s all;
}

section.start .info .social-nets.scroll {
  height: min-content;
  position: fixed;
  margin: 10px 20px;
  z-index: 6;
  top: 0;
  right: 0;
  animation: fromDown 0.8s ease-in-out;
}

@keyframes fromDown {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fromUp {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

section.start .info .social-nets i {
  color: rgba(255, 255, 255, 1);
  transition: 0.5s all;
}

section.start .info .social-nets i:hover {
  cursor: pointer;
  color: var(--color-1);
}

section.start .principal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  grid-column: 1/-1;
  grid-row: 2/9;
}

section.start .principal .principal-name {
  display: flex;
  flex-direction: column;
}

section.start .principal .principal-name .name {
  font-size: 6em;
  border-bottom: 10px solid wheat;
}

section.start .principal .principal-name .name-footer {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
}

section.start .principal .principal-name .name-footer .language-text {
  display: flex;
}

section.start .principal .principal-name .name-footer .languages {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  /* overflow: hidden; */
}

section.start
  .principal
  .principal-name
  .name-footer
  .languages
  .language-item {
  margin-left: 0.3em;
  color: var(--color-1);
  transition: 0.5s all ease-in-out;
  position: absolute;
  transform: translateY(-3em);
  color: transparent;
  overflow-wrap: normal;
}

section.start
  .principal
  .principal-name
  .name-footer
  .languages
  .language-item.show {
  color: white;
  transform: translateY(0);
}

section.start
  .principal
  .principal-name
  .name-footer
  .languages
  .language-item.top {
  transform: translateY(-3em);
}

section.start
  .principal
  .principal-name
  .name-footer
  .languages
  .language-item.bottom {
  transform: translateY(1.5em);
}

/* section.start .principal .principal-name .name-footer #language span {
    font-size: 1em;
    position: absolute;
    padding: 0 .5em;
    font-weight: 500;
    animation: changeLanguaguesVanish 3s cubic-bezier(1, 1.28, 0, 1.32) infinite;
} */

@keyframes changeLanguaguesVanish {
  0% {
    color: transparent;
  }

  20% {
    color: rgb(255, 255, 255);
  }

  90% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}

section.start .principal .principal-anything {
  position: relative;
  width: 30%;
  font-size: 3em;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}

section.start .principal .principal-anything span {
  display: block;
  padding: 1em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: "Fragment Mono", monospace;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 9/-1;
  background: var(--color-bg);
  /* background: var(--color-bg-gradient-2); */
  overflow: hidden;
  transition: 0.3s all ease;
  z-index: 5;
  max-height: var(--navbar-height);
}

nav.scroll {
  background: var(--color-bg);
  /* animation: fromUp 0.3s; */
  min-width: 100vw;
  min-height: var(--navbar-height);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

nav.scroll .div-links a {
  margin: 10px 0;
}

nav.scroll.full {
  position: fixed;
  background-color: var(--color-bg-gradient-3);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2;
}

nav .div-links {
  all: none;
  display: flex;
}

nav .div-links a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 3em;
  padding: 0 1em;
  margin: 0.8em auto;
  font-weight: 500;
  user-select: none;
  text-align: center;
  /* transition: .3s all; */
  width: 8em;
  z-index: 2;
}

nav .navbar-btn {
  display: none;
  transition: 0.3s all;
}

nav .navbar-btn.active {
  height: min-content;
  margin: 10px 20px;
  padding: 0;
}

nav .div-links a.active {
  /* border: 1px solid var(--color-1); */
  background-color: var(--color-1);
  color: var(--color-bg);
  font-weight: 700;
}

nav span.navbar-log {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 4em;
  transform: translateX(-1100px);
  transition: 0.5s all ease-in-out;
}

nav span.navbar-log.active {
  transform: translateX(100px);
}

section:is(.whois, .experience, .contact) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

section:is(.whois, .experience, .contact) .title {
  font-family: "Alfa Slab One", cursive;
  text-align: center;
  font-size: 4em;
  margin-top: 10vh;
  min-width: 30%;
  font-weight: 500;
  letter-spacing: 2px;
}

section.experience .title {
  margin: 0;
}

section.whois .whois-container,
section.experience .experience-container,
section.contact .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4em;
  width: 100%;
}

section.whois .whois-container .text {
  width: 50%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-align: center;
}

section.whois .whois-container picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.whois .whois-container picture img {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.193);
  /* backdrop-filter: blur(20px); */
  /* background-image: url("https://picsum.photos/600/300"); */
  /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

section.experience {
  background-color: rgba(255, 255, 255, 0.3);
}

section.experience .experience-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

section.experience :is(.experience-container-next, .experience-container-prev) {
  font-size: 15em;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.experience
  :is(.experience-container-next, .experience-container-prev)
  i {
  transform: scale(55%);
}

section.experience .experience-container-prev {
}

section.experience .experience-container-next {
}

section.experience .experience-container .carousel-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  min-height: 100vh;
}

.carousel-experience-card:nth-child(1n) {
  display: none;
}

.carousel-experience-card:nth-child(1),
.carousel-experience-card:nth-child(3) {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  filter: blur(6px);
}

.carousel-experience-card:nth-child(1) {
  left: 5%;
}

.carousel-experience-card:nth-child(3) {
  right: 5%;
}

.carousel-experience-card:nth-child(2) {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(200%);
  z-index: 1;
  position: relative;
  /* transition: 1s transform cubic-bezier(0.67, 0.54, 0, 0.83);  */
  transition: 0.6s transform cubic-bezier(0, 0.83, 0.14, 1.34);
  /* transition: 1s transform cubic-bezier(0, 0.95, 0, 1.21); */
  /* transition: .5s transform cubic-bezier(0, 0.95, 0, 1.21); */
  /* animation: cardVibe .3s linear; */
}

@keyframes cardVibe {
  0% {
    position: absolute;
    /* transform: translateX(-20px); */
    transform: scale(200%);
  }

  100% {
    position: relative;
    /* transform: translateX(40px); */
  }
}

.carousel-experience-card .card-experience-img {
}

.carousel-experience-card .card-experience-title {
  font-size: 4em;
}

.carousel-experience-card .card-experience-paragraph {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  overflow-y: scroll;
  height: 100px;
  border-radius: 5px;
  border: 1px solid var(--color-1);
  padding: 5px 2px 5px 5px;
}

.carousel-experience-card .card-experience-paragraph::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.carousel-experience-card .card-experience-paragraph::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 15%;
  /* border-top-right-radius: 15%;
    border-bottom-right-radius: 15%; */
  max-width: 10px;
}

/* CONTACT FORM */
section.contact .contact-container {
  align-items: flex-start;
}

section.contact .contact-container .message {
  display: block;
  padding: 10px;
  min-height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--color-1);
  color: var(--color-bg);
  font-size: 2em;
  width: 20%;
}

.contact-container {
  align-items: flex-start;
}

.contact-container form {
  display: inline-block;
  row-gap: 4em;
}

.contact-container form div {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.contact-container form div label {
  position: absolute;
  font-size: 4em;
}

.contact-container form div input,
.contact-container form div textarea {
  font-size: 4em;
  padding: 0 20px;
  background-color: var(--color-bg);
  transition: 0.3s all ease;
  border: none;
  border-bottom: 1px solid var(--color-1);
}

.contact-container form div input:focus,
.contact-container form div textarea:focus {
  border: none;
}

/* .contact-container form div:has(input:focus, input:invalid, input:autofill, input:-webkit-autofill) label,
.contact-container form div:has(textarea:focus, textarea:invalid, textarea:autofill, textarea:-webkit-autofill) label {
    
} */

.contact-container
  form
  div
  input:is(:valid, :invalid, :autofill, :-webkit-autofill, :focus),
.contact-container
  form
  div
  textarea:is(:valid, :invalid, :autofill, :-webkit-autofill, :focus) {
  margin-top: 1.4em;
}

.contact-container form div button[type="submit"] {
  color: var(--color-bg);
  font-size: 4em;
}

.contact-container form div button[type="submit"] i {
  color: var(--color-bg);
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg);
}

footer .footer-message {
  border-top: 10px solid var(--color-1);
  height: 100%;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}

footer .footer-vitae-dowload {
  border-top: 10px solid var(--color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
  width: 50%;
  align-self: center;
  background-color: var(--color-1);
  cursor: pointer;
}

footer .footer-vitae-dowload p {
  font-weight: 700;
  display: flex;
  color: var(--color-bg);
  font-size: 1.5em;
  transition: 0.3s all;
}

footer .footer-vitae-dowload i {
  color: var(--color-bg);
  transition: 0.3s all;
}

footer .footer-vitae-dowload:hover p {
  display: none;
}

footer .footer-vitae-dowload:hover i {
  transform: scale(200%);
}

#dowload-pdf-link {
  display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  nav.scroll .navbar-log {
    display: none;
    /* display: none; */
  }

  section.start .principal {
    flex-direction: column;
  }

  section.start .principal .principal-anything {
    width: 50%;
    flex-basis: content;
  }

  section.start .principal .principal-anything .principal-anything-phrase {
    width: 100%;
  }

  section .title {
    margin: 10vh auto;
  }

  section.whois .whois-container {
    display: flex;
    flex-direction: column;
  }

  section.whois .whois-container .text {
    width: 100%;
  }

  section.whois .whois-container .text p {
    width: 80%;
  }

  nav .div-links a {
    font-size: 2.5em;
  }

  section.experience .experience-container {
    flex-flow: wrap;
  }

  section.experience
    :is(.experience-container-prev, .experience-container-next) {
    order: 1;
    height: 10vh;
    margin-bottom: 0.1em;
  }

  section.experience {
    order: 1;
  }

  section.experience .experience-container .carousel-experience {
    min-height: 70vh;
  }

  section.experience .title {
    margin-bottom: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  section.start .principal .principal-name .name {
    /* font-size: 3em; */
  }

  section.start .principal .principal-name .name-footer {
    /* font-size: 1em; */
  }

  section.start .principal .principal-anything .principal-anything-phrase {
    /* font-size: .7em; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  nav.scroll {
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
  }

  nav.scroll .navbar-btn.active {
    display: inline-block;
  }

  nav.scroll .navbar-btn i {
    padding: 0;
    margin: 0;
  }

  nav.scroll .navbar-btn i:nth-child(1n) {
    transform: scale(120%);
    display: flex;
  }

  nav.scroll .navbar-btn i:nth-child(2n) {
    display: none;
  }

  nav.scroll.full {
    flex-direction: column-reverse;
    justify-content: center;
    background: radial-gradient(var(--color-bg) 15%, transparent 100%);
  }

  nav.scroll .div-links a,
  nav.scroll .navbar-log {
    display: none;
  }

  nav.scroll.full .div-links a {
    font-size: 3em;
    display: inline-block;
    margin: 25px 0;
    font-weight: 1000;
  }

  nav.scroll.full .div-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav.scroll.full .navbar-btn.active {
    margin-top: 30px;
    display: inline-block;
    position: relative;
  }

  nav.scroll.full .navbar-btn i:nth-child(1n) {
    display: none;
  }

  nav.scroll.full .navbar-btn i:nth-child(2n) {
    display: flex;
    transform: scale(150%);
  }

  section.start .info .social-nets.center {
    position: fixed;
    top: 5%;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 3;
  }

  section.start .info .social-nets.center i {
    transform: scale(150%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 11px;
  }

  section.start .principal .principal-name .name {
    /* color: green; */
    /* font-size: 2em;  */
  }

  section.start .principal .principal-name .name-footer {
    /* font-size: 1em; */
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }

  .carousel-experience-card:nth-child(2) {
    transform: scale(120%);
    width: 70%;
    font-size: 1.5em;
  }

  .carousel-experience-card:nth-child(1),
  .carousel-experience-card:nth-child(3) {
    display: none;
  }

  section.experience
    :is(.experience-container-next, .experience-container-prev)
    i {
    transform: scale(35%);
    /* position: absolute; */
  }

  section.whois .whois-container picture img {
    width: 50%;
  }

  nav .div-links a:nth-child(1n),
  nav.scroll .div-links a:nth-child(1n) {
    display: none;
  }

  nav .div-links a:nth-child(1),
  nav.full .div-links a:nth-child(1n) {
    display: inline-block;
  }

  section.start .principal .principal-anything {
    width: 100%;
  }

  section.start .principal .principal-name .name {
    font-size: 4em;
  }
}
